# Ignore *.pro.user files
*.pro.user
*.pro.user.*
CMakeLists.txt.user

.sconsign.dblite
.sconf_temp
.scons

*.kate-swp

target/
libs/
*~
*.autosave
.DS_Store
/build
/build2

/src/robomongo/robomongo.pro.user.1.3

/src/third-party/mongodb/src/third_party/js-1.7/jswgen